### Lab | Inferential statistics - T-test & P-value

#### Instructions <br>
    1. We will have another simple example on two sample t test (pooled- when the variances are equal). But this time this is a one sided t-test
In a packing plant, a machine packs cartons with jars. It is supposed that a new machine will pack faster on the average than the machine currently used. To test that hypothesis, the times it takes each machine to pack ten cartons are recorded. The results, in seconds, are shown in the tables in the file files_for_lab/machine.txt. Assume that there is sufficient evidence to conduct the t test, does the data provide sufficient evidence to show if one machine is better than the other

    2. An additional problem (not mandatory): In this case we can't assume that the population variances are equal. Hence in this case we cannot pool the variances. Independent random samples of 17 sophomores and 13 juniors attending a large university yield the following data on grade point averages. Data is provided in the file files_for_lab/student_gpa.txt. At the 5% significance level, do the data provide sufficient evidence to conclude that the mean GPAs of sophomores and juniors at the university differ?

Test statistics can be calculated as: link to the image - Test statistics calculation for Unpooled Variance Case

Degrees of freedom is (n1-1)+(n2-1).

#### Hypothesis

**h0** both machines are similiar speed<br> 
**h1** new machine is better

In [2]:
import pandas as pd

In [12]:
df = pd.read_csv('../lab-t-tests-p-values/machine.csv', sep = ';')
df

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5
5         42.8             43.5
6         43.2             43.1
7         42.3             41.7
8         41.8             44.0
9         42.7             44.1

In [16]:
df.columns = df.columns.str.replace(" ", "_")
df.columns = df.columns.str.lower()

In [18]:
df.describe()

       new_machine  ____old_machine
count    10.000000        10.000000
mean     42.140000        43.230000
std       0.683455         0.749889
min      41.000000        41.700000
25%      41.800000        42.800000
50%      42.200000        43.400000
75%      42.625000        43.750000
max      43.200000        44.100000

In [23]:
from scipy.stats import ttest_ind, norm

# create the samples
new_machine = norm.rvs(loc=42.14, scale=0.68, size=10)
old_machine = norm.rvs(loc=43.2, scale=0.75, size=10)

In [24]:
new_machine

array([42.82768734, 41.70520642, 42.66902406, 42.32559731, 42.55100774,
       42.15719002, 41.23988714, 41.52533762, 41.42521839, 42.76579637])

In [25]:
old_machine

array([42.70172044, 42.04149778, 43.64085952, 44.39925661, 43.32393993,
       43.00136189, 43.61196575, 42.81122308, 43.26775237, 43.33007328])

In [27]:
ttest_ind(new_machine, old_machine)

Ttest_indResult(statistic=-3.9645632181754142, pvalue=0.0009088081117152074)

We can say with 95% certainty that we have enough evidence to reject the null hypothesis. <br>
The new machine performed better than the old one.